body {
  background-color: #212121 !important;
}

.container {
  width: 100%;
}

.title1 {
  text-align: center;
  color: white;
}

.title2 {
  text-align: center;
  color: #6F95CD;
}

.playrunlist {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listitem {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  height: 50px;
  background-color: #585858;
  :hover {
    background-color: #6F95CD;
    height: 46px;
    border-radius: 15px;
  }
}

.playruntext {
  margin-bottom: 0px;
  color: white;
}

.error-message {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  color: red;
}
